{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

set -ex

sudo apt install -y \
    build-essential \
    ca-certificates \
    cmake \
    ninja-build \
    gcc \
    gfortran \
    python3 \
    wget \
    ripgrep \
    fzf \
    fd-find

{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh

brew install \
    ripgrep \
    fzf \
    fd

{{ else if eq .chezmoi.os "windows" -}}
winget install --id Git.Git -e --source winget
{{ end -}}
