{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

set -ex

sudo apt install -y \
    build-essential \
    cmake \
    ninja-build \
    gcc \
    gfortran \
    python3 \
    ripgrep \
    fzf \
    fd-find

{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh

brew install \
    ripgrep \
    fzf \
    fd

{{ end -}}
